
#feedback_button {
    position:fixed;
    top:40%;
    background-repeat:no-repeat;
    background-position:50% 50%;
    cursor:pointer;
}

#feedback_button a {
    display:none;
}

#feedback_button.white {
/*    background-color:#AAA;
    border:1px solid #999;
*/    
}

#feedback_button.black {
    background-color:white;
    border:1px solid #333;
}

#feedback_button.small {
    height:100px;
    width:15px;
    margin-top:-50px;
}

#feedback_button.normal {
    height: 102px;
    width: 25px;
}

#feedback_button.left {
    left:0;
    border-left:none;
}

#feedback_button.right {
    right:0;
    border-right:none;
}

#feedback_button.white.left.normal {
    background: url(images/b_feedback.png) left top no-repeat;
}

	#feedback_button.white.left.normal:hover {
		background-position: left bottom;
		cursor: pointer;
		}
		
#feedback_button.white.left.small {
    background-image:url(images/feedback_wl_sm.png);
}
#feedback_button.white.right.normal {
    background-image:url(images/feedback_wr.png);
}
#feedback_button.white.right.small {
    background-image:url(images/feedback_wr_sm.png);
}

#feedback_button.black.left.normal {
    background-image:url(images/feedback_bl.png);
}
#feedback_button.black.left.small {
    background-image:url(images/feedback_bl_sm.png);
}
#feedback_button.black.right.normal {
    background-image:url(images/feedback_br.png);
}
#feedback_button.black.right.small {
    background-image:url(images/feedback_br_sm.png);
}

div.hiding {
    display:none;
}

#feedback_popup.thanks {
    font-size: 14px;
    font-weight: bold;
}

#feedback_popup .thanks {
    display:none;
    margin-top: 1em;
}

#feedback_popup.thanks .thanks {
    display:block;
}

#feedback_popup.thanks form {
    display:none;
}

#feedback_popup form {
    padding-top:10px;
}

#feedback_popup .error {
    color: red;
    font-size: 85%;
}


/** form stuff **/
#feedback_popup label {
    font-size:.8em;
    color:#555;
    display:block;
    margin-top: 1em;
}

#feedback_popup textarea {
    height:90px;
    width:490px;
}

#feedback_popup input {
    width:223px;
}

#feedback_popup .buttons {
	margin-top: 1em;
}

#feedback_popup.loading input, #feedback_popup.loading textarea {
    color: #555
}


